* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-family: 'Ibarra Real Nova', serif;
 
}



/* classi iniziali */
.clarfix::after {
  content: "";
  display: table;
  clear: both;
}

.float-left {
  float: left;
}
.float-right{
  float: right;
}
/* header  */



#nav-top{
  width: 100%;
  height:80px;
  border-bottom: 1px solid black;
  min-width: 1200px;
  position: fixed; 
  top: 0;
  left: 0;
  z-index: 3;
  line-height: 80px;
  
}

.nav-down{
  height: 80px;
  /* background-color: lightpink; */
  margin-top: 80px;
  line-height: 80px;
  
  
}

.bg-grey{
  background-color: azure;
}

.conteiner-70{
  width: 70%;
  height: 100%;
  margin: 0 auto;
 
}

.link-sx{
  float: left;
  width: 30%;

 
}

.link-top-right{
  float: right;
  width: 70%;
  
  
  text-align: right;
  
}

.logo{
  width: 200px;
  height: 80px;

  float: left;
}

.link-dx{
  width: 70%;
  height: 80px;
 
  float: right;
  text-align: right;
}




.link-sx li, .link-dx li {
  display: inline;
  padding: 0 2%;
}
.link-sx a, .link-dx a {
  text-decoration: none;
}


button{
  background-color: rgb(224, 103, 109);
  padding: 7px;
  border-radius: 7px;
  width: 100px;
  text-align: right;
  margin: 10px;
}




.pad a {
  border-right: 1px solid black;
  padding: 5px;
}


.logo img {
  width: 75px;
}


/* jambatron  */

.jambatron{
  width: 100%;
  height: 612px;
  background-image: url(../img/jumbotron.png);
  background-repeat:no-repeat;
  background-position: right top;
  background-color: #FFF4EF;
 
}

.jambatron-text {
  width: 30%;
  height: 400px;
  padding: 30px 15px;
 
 

}


.jambatron-text h1{
 
  font-size: 35px;
  
 
}

.jambatron-text p{
  color: rgb(73, 46, 10);
  margin-top: 30px;
}

.jambatron button{
  margin-top: 30px;
}



.interspazio {
  height: 50px;
  background-color: lightgreen;
  border: 1px solid black;
}



#vioport1{
  height: 410px;
  background-color: #F4F9FD;
  position: relative;
}



.cube img{
  width: 300px;
  height: 200px;
  position: absolute;
  left: 50% ;
  transform: translate(-50%);
  margin-top: 30px;

}

.cube-txt{
  position: absolute;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%);
  margin-top: 30px;
}

.cube-txt p{
  color: rgb(145, 163, 163);
  margin-top: 30px;
}

#hub-spot{
  width: 100%;
  height: 410px;
  background-color: brown;
}
  





.hub-img{
  width: 20%;
  height: 200px;
  position: relative;
  
  
  
  
 
}

.hub-img img{
  width: 150px;
  height: 150px;
  position: absolute;
  top: 50%;
  left: 100%;
  transform: translate(-50% -100%);
  

  

}
.hub-spot button{
 margin-top: 50px;
 margin-left: 100px;
 width: 150px;


}


/* fine css cubo  */



 
  




/* inizio classi a tre colonne  */
.conteiner{
  width: 100%;
  padding: 0 10%;
  
  height: 100%;
 
}


.col{
  width: calc(80% / 4 - 10px - 10px );
  height: 650px;
  background-color: burlywood;
  margin: 10px;
 
}


.img-buble{
  display: inline-block;
}

.img-buble img{
  width: 100px;
  height: 150px;
  text-align: center;
  
}


section .col{
  float: left;
}






/* fine asset viopor 1 */

/* vioport 2  */

#vioport-due{
  width: 100%;
  height: 695px;
  background-color: rgb(126, 201, 236);
  position: relative;
  

}

.txt-vioport-due{
  height: 100px;
  text-align: center;
  width: 600px;
  position: absolute;
  left: 30%;

} 
  




.txt-vioport-due h1{
  color: rgb(240, 240, 240);
  margin-top: 30px;
 
  

}

.txt-vioport-due p{
  color: rgb(240, 240, 240);
  margin-top: 10px;
  

}

.box-info-up{
  position: absolute;
  top: 160px;
  left: 160px;
  padding: 0 10%;
  width: 70%;
  
}


.box-logo{
  width: 250px;
  height: 250px;
  background-color: rgb(231, 152, 159);
  border-right: 1px solid black;
  border-bottom : 1px solid black;
  text-align: center;
  

 
}

.box-logo img{
  width: 70px;
  height: 100px;
 

}
/* fine vioport 2 */

/* inizio vioport 3 */

#vioport3{
  height: 715px;
 
  position: relative;
}

.box-vioport-3{
  width: 30%;
  height: 715px;
  
}

.box-dx-vioport-3{
  width: 70%;
  height: 715px;

  position: relative;
}

.box-up{
  width: 250px;
  height: 150px;
  position: absolute;
  left: 7%;
}
.txt-vioport3{
  color: blueviolet;
  text-align: center;
  margin-top: 30px;
}

.txt-vioport3 p{
 margin-top: 30px;
}

.box-down{

width: 450px;
height: 400px;

position: absolute;
top: 254px;

}

/* inizio loghi  */


#box-logo-dx{
  width: 760px;
  height: 130px;
  
 
}

.img-sponsor{
  width: 100px;
  height: 50px;
  line-height: 100px;
  text-align: center;
}

.sponsor-up{
  height: 65px;
  padding: 0 6%;
  line-height: 65px;
}
.sponsor-up ul{
  list-style: none;
}

.sponsor-up li{
  display: inline;
}


.img-girl img{
  width: 300px;
  height: 400px;
  position: absolute;
  top: 40%;
  left: 34%;
}

/* vioport 4 con footer  */

#vioport4{
  width: 100%;
  height: 450px;
  background-color: #1E2C37;
  position: relative;
}

/* link  */

.box-link{
  width: calc(150% / 4 - 10% - 10%);
  height: 300px;
  
 
  
  margin: 10px;

}

.first-link{
  margin-top:20px ;
}

.box-link a{
  color: white;
  text-align: center;
  text-decoration: none;
}

.first-link ul{
  list-style: none;
  
}

li a.hight{
  color: aqua;
  margin-bottom: 20px;
}

button.link{
  color: azure;
  background-color: lightgray;
}

.link-down{
  width: 30%;
  height: 50px;
  background-color: aquamarine;
  position: absolute;
  top: 88%;
  left: 25%;
}


footer{
  background-color:#1E2C37;
  height: 100px;
  border-top: 1px solid olive;

}