*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}

body{
  max-width: 1900px;
  min-width: 1400px;
}

/* classi iniziali */
.clarfix::after{
  content: '';
  display: table;
  clear: both;
}


.float-left{
  float: left;
}

/* header  */

header{
  
  height: 790px;
  /* background-image: url(../img/jumbotron.png);
  background-size: 1440px;
  background-repeat: no-repeat;
  background-position: 110% 100%;
  background-color: #fff8ee;;
  */
  background-color: aqua;
}

.nav-conteiner{
  height: 150px;
  width: 1900px;
  padding: 0 10%;
  background-color: #F4F9FD;
  ;
  

}

/* parte suoperiore nav  */
.nav-up{
  height: 75px;
  line-height: 75px;
  background-color: #F4F9FD;
  
}

.link-sx{
  width: 700px;

}

.link-dx{
  width: 700px;
  text-align: right;
  
}

/* parte inferiore nav  */

/* .nav-down{
  height: 75px;
  line-height: 75px;
  background-color: #FFFFFF;
} */



.logo img{
  width: 75px;
 
}
/* 
.jambatron{
  width: 700px;
  height: 450px;
  
  margin-left: 30px;

}

.jambatron-text{
  
  line-height: 450px;
}

.interspazio{
  height: 50px;
  background-color: lightgreen;
} */

/* fine nav  */

/* primo asset */

.conteiner{
  width: 80%;
  height: 100%;
  margin: auto;
}

.box1{
  height: 412px;
  background-color: cornflowerblue;

}


.jambatron-box{
  height: 335px;
  background-color: lightpink;
}


.col-jambatron{
  height: 680px;
  background-color: lightgreen;
}

/* fine asset viopor 1 */

/* vioport 2  */

.vioport-due{
  height: 690px;
  background-color: darkgoldenrod;
}


/* vioport-tre  */


.vioport-tre{
  height: 715px;
  background-color: blue;
}


/* vioport 4  */

.vioport-quattro{
  height: 475px;
  background-color: aquamarine;
}

footer{
  height: 135px;
  background-color: rgb(219, 139, 179);
}