*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}

/* classi iniziali */
.clarfix::after{
  content: '';
  display: table;
  clear: both;
}


.float-left{
  float: left;
}

/* header  */

header{
  background-color: #999999;
  height: 750px;
}

.conteiner{
  

  
  border-bottom: 2px solid #42ce70;
  width: 100%;
  position: relative;
}



nav{
  height: 150px;
  padding: 0 10%;
 


}
.nav-up{
  width: 100%;
  height: 75px;
}

/* nav down */
.logo img{
  width: 75px;
 
}

.jambatron{
  width: 700px;
  height: 450px;
  background-color:rgb(255, 188, 188);
  margin-left: 30px;

}

.jambatron-text{
  
  line-height: 450px;
}

/* fine nav  */

/* primo asset */